@using Microsoft.AspNet.Identity
@model UniversityTestingSystem.Models.ViewModels.StudentFormViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{

    <h2>Анкета</h2>

    <p class="h4">Ваш логин: @Model.Login</p>
    <hr />

    using (Html.BeginForm("Create", "Students", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("UserId", Model.UserId)



        @Html.Partial("_StudentForm", Model)

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

}

