@using UniversityTestingSystem.Models.University.Test
@model UniversityTestingSystem.Models.ViewModels.StudentProfileViewModel

@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--HEADER-->
<div class="page-header">
    <h4 class="text-muted">Студент</h4>
    <p class="h2">@Model.Student.FirstName @Model.Student.LastName</p>
</div>

<!--CONTENT-->
<div class="row">

    <!--FACULTY-->
    @Html.Partial("_Faculty", Model.Student.Faculty)

    <!--GROUP-->
    @Html.Partial("_Group", Model.Student)

    <!--SCHEDULED TESTS-->
    @Html.Partial("_ScheduledTests", Model.ScheduledTests)

    <!--COMPLETED TESTS-->
    @Html.Partial("_CompletedTests", Model.CompletedTests)

</div>
