@model UniversityTestingSystem.Models.ViewModels.TestQuestionViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    int questionNumber = Model.QuestionIterator + 1;

    string btnName = questionNumber == 15 ? "Завершить" : "Далее";

}

<br />
<h5 class="text-muted">Тема теста: @Model.TestName 1234</h5>
<hr />

<h4 class="text-muted">Вопрос @questionNumber</h4>
<h3>@Model.Question</h3>
<hr />
<br />

@using (Html.BeginForm("RecordAnswer", "Students", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.Hidden("QuestionId", Model.QuestionId)

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">

                <div class="input-group">
                    <input type="radio" name="Answer" value="A" id="A" style="margin-right: 5px"/>
                    <label class="h4" for="A"><span class="text-muted">А: </span>@Model.AnswerA</label>
                </div>
                
                <div class="input-group">
                    <input type="radio" name="Answer" value="B" id="B" style="margin-right: 5px"/>
                    <label class="h4" for="B"><span class="text-muted">B: </span>@Model.AnswerB</label>
                </div>
                
                <div class="input-group">
                    <input type="radio" name="Answer" value="C" id="C" style="margin-right: 5px"/>
                    <label class="h4" for="C"><span class="text-muted">C: </span>@Model.AnswerC</label>
                </div>
                
                <div class="input-group">
                    <input type="radio" name="Answer" value="D" id="D" style="margin-right: 5px"/>
                    <label class="h4" for="D"><span class="text-muted">D: </span>@Model.AnswerD</label>
                </div>
                
                <br/>
                <input type="submit" class="btn btn-primary" value="@btnName"/>
            </div>
        </div>
    </div>


}

